.form {
    padding: 2rem;
    background: var(--secondary-bg-color);
    border-radius: 0.25rem;
    font: 1rem var(--font-body);
    border: 0.1rem rgba(42, 160, 203, 0.3) solid;

    @media (min-width: 48rem) {
        padding: 3rem;
    }

    input {
        width: 100%;
        font: 1rem var(--font-body);
        border: 1px solid var(--accent-color-purple);
        border-radius: 0.1rem;
        // resize: none;
        background: 0 0;
        padding: 1rem;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input textarea:focus {
        box-shadow: 0 0 1rem rgba(9, 117, 241, 0.8);
        border-color: var(--accent-color-elec-blue);
    }

    input[type="text"]:focus-visible,
    input[type="email"]:focus-visible,
    input textarea:focus-visible {
        outline: none;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        &::placeholder {
        color: var(--accent-color-grey);
        opacity: 0.5;
        }
    }

    textarea {
        resize: vertical;
        padding: 0.5rem;
        min-height: 5rem;
        max-height: 20rem;
        background: 0;
        border: 1px solid var(--accent-color-purple);

        &:focus {
        outline: 0;
        box-shadow: 0 0 1rem rgba(9, 117, 241, 0.8);
        border-color: var(--accent-color-elec-blue);
        }
    }
}
.contactInfo {
    padding: 4rem;
    background: var(--accent-color-purple);
    border-radius: 0.25rem;
    font: 1rem var(--font-body);

    li {
        list-style-type: none;
    }
}
.contactForm {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 64rem) {
        grid-template-columns: repeat(2, 1fr);
    }
}
.title {
    font: 1.5rem var(--font-headers);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary-bg-color);
}
.subtitle {
    
}
.icon {
    width: 1.5rem;
    color: var(--accent-color-purple);
    height: auto;
}

.listItem {
    &:not(:last-child) {
        border-bottom: 1px solid var(--secondary-bg-color);
        padding-block-end: 2rem;
    }

    span {
        &:first-child {
        @apply flex items-center justify-center;

        width: 3.5rem;
        height: 3.5rem;
        background-color: var(--secondary-bg-color);
        border-radius: 50%;
        text-align: center;
        transition: scale 0.3s ease;

        &:hover {
            scale: 1.1;
        }
        }
  }
}
