.navbar {
    background: rgba(31, 24, 44, 0.75);
    backdrop-filter: blur(0.75rem);
    border: 0.1rem rgba(85, 52, 141, 0.5) solid;
    border-radius: 0.5rem;
    .active {
        color: var(--accent-color-elec-blue);
    }
}

.link {
    color: var(--body-text-color);
    letter-spacing: 0.025em;
    cursor: pointer !important;
    transition: color 0.3s ease;
    font-weight: 500 !important;
    font: 1.2rem var(--font-headers);
    &:hover {
        color: var(--accent-color-elec-blue);
    }
}