.timeline {
    @media(max-width: 700px) and (min-width: 540px) {
        word-wrap: break-word;
    }
    &.experience {
        &::before {
            height: 68%;
        }
        @media screen and (max-width: 48rem) {
            &::before {
                height: 67%;
            }
        }
    }
    &.education {
        &::before {
            height: 68%;
        }
        @media screen and (max-width: 48rem) {
            &::before {
                height: 68%;
            }
        }
    }
    &::before {
        width: 1px;
        top: auto;
    }
    svg {
        color: var(--accent-color-cer-blue);
    }
    .timelineIcon {
        box-shadow: 0 0 0 2px var(--accent-color-cer-blue), inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05) !important;
    }
}
